@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body, * {
  font-family: "Poppins", sans-serif;
}

/* Scrollbar invisibile per Webkit (Chrome, Edge, Safari) */
.invisible-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

/* Scrollbar invisibile per Firefox */
.invisible-scrollbar {
  scrollbar-width: none; /* Firefox */
}

@layer base {
  html, body { height: 100%; }
  /* colore base coerente anche quando non c'è ancora React */
  html { background-color: #f3f4f6; }            /* gray-100 */
  html.dark { background-color: #0f172a; }       /* gray-900 */
}
